/* Mobile Version (Potrait) */
@media (max-width: 576px) {
  .filterDiv {
    width: 334px;
    position: relative;
    /*border: 1px solid lightgrey;*/
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .show {
    display: block;
  }

  .genres-content {
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 95vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnContainer {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
  }

  .genre-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
  }


  .genres-content .bt {
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    color: #0d6efd;
    margin-right: -3px;
  }

  .genres-content .bt:hover {
    background-color: #0d6efd;
  }

  .genres-content .bt.active {
    background-color: #0d6efd;
    color: white;
  }

  .genre-list .box{
      width: 30%;
      height: 235px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .genre-list .box-img{
    height: 150px;
  }

}

/* Mobile Version (Landscape) */
@media (min-width: 576.1px) {
  .filterDiv {
    width: 334px;
    position: relative;
    /*border: 1px solid lightgrey;*/
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .show {
    display: block;
  }

  .genres-content {
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 95vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnContainer {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
  }

  .genre-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
  }


  .genres-content .bt {
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    color: #0d6efd;
    margin-left: -3px;
  }

  .genres-content .bt:hover {
    background-color: #0d6efd;
  }

  .genres-content .bt.active {
    background-color: #0d6efd;
    color: white;
  }

  .genre-list .box{
      width: 15%;
      height: 200px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .genre-list .box-img{
    height: 120px;
  }
}

/* Tablet */
@media (min-width: 767px) {
  .filterDiv {
    width: 334px;
    position: relative;
    /*border: 1px solid lightgrey;*/
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .show {
    display: block;
  }

  .genres-content {
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
  }

  #myBtnContainer {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .genre-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    padding-left: 20px;
  }


  .genres-content .bt {
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    color: #0d6efd;
    margin-left: -3px;
  }

  .genres-content .bt:hover {
    background-color: #0d6efd;
  }

  .genres-content .bt.active {
    background-color: #0d6efd;
    color: white;
  }

  .genre-list .box{
      width: 15%;
      height: 200px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .genre-list .box-img{
    height: 120px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .filterDiv {
    width: 334px;
    position: relative;
    /*border: 1px solid lightgrey;*/
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .show {
    display: block;
  }

  .genres-content {
    margin-top: 60px;
    margin-bottom: 20px;
    min-height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
  }

  #myBtnContainer {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .genre-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
  }


  .genres-content .bt {
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #0d6efd;
    margin-left: -3px;
  }

  .genres-content .bt:hover {
    background-color: #0d6efd;
  }

  .genres-content .bt.active {
    background-color: #0d6efd;
    color: white;
  }

  .genre-list .box{
      width: 10%;
      height: 210px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .genre-list .box-img{
    height: 120px;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  .filterDiv {
    width: 334px;
    position: relative;
    /*border: 1px solid lightgrey;*/
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .show {
    display: block;
  }

  .genres-content {
    margin-top: 60px;
    margin-bottom: 20px;
    min-height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
  }

  #myBtnContainer {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .genre-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
  }


  .genres-content .bt {
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #0d6efd;
    margin-left: -3px;
  }

  .genres-content .bt:hover {
    background-color: #0d6efd;
  }

  .genres-content .bt.active {
    background-color: #0d6efd;
    color: white;
  }

  .genre-list .box{
      width: 8%;
      height: 210px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .genre-list .box-img{
    height: 120px;
  }
}
