body {
  margin: 0px;
  padding: 0px;
  background-color: #eef8ff;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
}

.bg {
  background-color: #160691;
}

.ln {
  border: 1px solid black;
}

/* Slider */
.tpr h3, .ct h3, .ut h3, .gnr h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 1px;
  padding-bottom: 5px;
}

.tpr {
  width: 180px;
  margin-bottom: 10px;
}

.ct {
  width: 165px;
}

.ut {
  width: 170px;
}


.box {
  border-radius: 10px;
  width: 280px;
  height: 150px;
  overflow: hidden;
  background-color: white;
  margin-right: 5px;
  align-items: center;
  align-content: center;
}

.box:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.box-img {
  width: 110px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.box-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.box-img img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.rating span {
  color: orange;
  font-size: 14px;
}

.rating {
  margin-top: -10px;
}

.detail {
  position: relative;
  margin-top: -148px;
  margin-left: 110px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  padding-top: 15px;
}

.detail h5 {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail h5 a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}

.detail h5 a:hover, .dtl h5 a:hover {
  color: #45b051;
}

.detail .reader {
  color: grey;
  font-size: 14px;
}

.detail .og {
  font-size: 16px;
  margin-top: 5px;
}

.detail .og span {
  font-weight: 700;
}

.item {
  padding-top: 5px;
  padding-bottom: 15px;
}

h6 {
  color: grey;
  font-weight: 100;
  font-size: 14px;
}

.unl {
  border: 1px solid grey;
  margin-top: 7px;
  margin-bottom: 7px;
  visibility: hidden;
}

/* Update terakhir */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%
}

.content {
  height: 100px;
  width: 48%;
  color: #fff;
  font-size: 24px;
  line-height: 100px; /* centering text just for view */
  text-align: center;
  background-color: grey;
  margin: 5px;
  display: none;
  /* border: 1px solid lightgrey; */
}

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
  text-decoration: none;
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}

/* Mobile Version (Potrait) */
@media (max-width: 576px) {
  /*navbar*/
  .navbar .navbar-brand {
    font-weight: 900;
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
  }

  .nav-item {
    height: 35px;
  }

  .navbar li a {
    font-weight: 400;
    padding-bottom: 15px;
  }

  .navbar .d-flex {
    margin-top: 25px;
  }

  .slide {
    padding-left: 4%;
    padding-right: 4%;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e0f1ff;
    margin-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .chater {
    width: 100%;
    height: 98vh;
    overflow: hidden;
  }

  .scr {
    width: 100%;
    height: 89vh;
    border-radius: 10px;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx {
    width: 100%;
    height: 150px;
    background-color: transparent;
    margin: auto;
    margin-bottom: 10px;
  }

  .bx:hover {
    box-shadow: none;
  }

  .bx-img {
    width: 120px;
  }

  .dt {
    position: relative;
    margin-top: -148px;
    margin-left: 120px;
    height: 100%;
    padding: 0px 10px 10px 10px;
  }

  .dt h5 {
    font-size: 16px;
  }

  .dt .rating {
    font-size: 14px;
    margin-top: -5px;
  }

  .dt .reader {
    font-size: 12px;
  }

  .dt .tgl h6 {
    font-size: 14px;
    margin-top: 5px;
    color: black;
    font-weight: 400;
  }

  .dt .chp {
    margin:auto;
    margin-top: 0px;
    position:relative;
  }

  .dt .chp span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }


  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 18px;
    margin: auto;
    padding: 5px;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Update Terakhir */
  .upter {
    margin-top: 15px;
    width: 100%;
    height: 98vh;
  }

  /* Update terakhir */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%
  }

  .content {
    height: 150px;
    width: 100%;
    font-size: 24px; /* centering text just for view */
    text-align: center;
    background-color: transparent;
    margin: 5px;
    overflow: hidden;
  }

  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }

  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .bx-img2 {
    position: relative;
    height: 100%;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
  }

  .bx-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.5s;
  }

  .bx-img2 img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .dtl {
    margin-top: -148px;
    margin-left: 120px;
    height: 100%;
    text-align: left;
    padding-left: 8px;
  }

  .dtl h5 {
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dtl h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
  }

  .stars {
    margin-top: -48px;
  }

  .stars span {
    color: orange;
    font-size: 14px;
  }

  .dtl .rdr {
    color: grey;
    font-size: 12px;
    margin-top: -80px;
    font-weight: 600;
    display: visible;
  }

  .dtl .date h6 {
    color: black;
    margin-top: -35px;
    font-size: 14px;
  }

  .dtl .chap {
    margin: auto;
    margin-top: -40px;
  }

  .dtl .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  /* Genres */
  .genre {
    height: 120px;
    margin-top: -10px;
  }


  #id01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #id01 li {
    display: inline-block;
    width: 32%;
    text-align: left;
  }

  #id01 li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }

  #id01 li a:hover {
    color: green;
  }

  /* Footer */
  .footer {
    margin-top: 15px;
    height: 70px;
    color: white;
    font-size: 14px;
  }

  .cr, .bm {
    width: 100%;
  }
  .cr span, .bm span {
    width: 100%;
    text-align: center;
  }
}


/* Mobile Version (Landscape) */
@media (min-width: 576.1px) {
  /*navbar*/
  .navbar .navbar-brand {
    font-weight: 700;
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
  }

  .nav-item {
    height: 28px;
    margin-bottom: 0px;
  }

  .nav-link{
    position: relative;
    margin: auto;
  }

  .navbar li a {
    font-weight: 400;
  }

  .d-flex {
    margin-top: 25px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e0f1ff;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .tpr {
    margin: auto;
    width: 100%;
  }

  .ktn {
    width: 100%;
  }

  .chater {
    width: 35%;
    height: 100vh;
    margin-left: auto;
  }

  .scr {
    width: 100%;
    height: 89vh;
    border-radius: 10px;
    margin-top: 5px;
    /* background-color: #f5f5f5; */
    /* border: 1px solid grey; */
  }

  .bx {
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .bx:hover {
    box-shadow: none;
  }

  .bx-img {
    width: 90px;
  }

  .dt {
    position: relative;
    margin-top: -118px;
    margin-left: 90px;
    height: 100%;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .dt h5 {
    font-size: 14px;
  }

  .dt .rating {
    font-size: 12px;
    margin-top: -5px;
  }

  .dt .reader {
    font-size: 10px;
  }

  .dt .tgl h6 {
    font-size: 12px;
    color: black;
    font-weight: 400;
  }

   .dt .chp {
    margin: auto;
    width: 100%;
    position:relative;
    margin-top: -9px;
  }

  .dt .chp span {
    margin-top: -50px;
    background-color: #45b051;
    border-radius: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }


  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 18px;
    margin: auto;
    padding: 5px;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Update Terakhir */
  .upter {
    display: flex;
    position: relative;
    width: 65%;
    height: 100vh;
    margin: auto;
  }

  .upter-sec {
    width: 100%;
  }

  /* Update terakhir */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%
  }

  .content {
    height: 120px;
    width: 47%;
    font-size: 24px; /* centering text just for view */
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 13px;
    margin-bottom: 10px;
  }

  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }

  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .bx-img2 {
    position: relative;
    height: 100%;
    width: 85px;
    border-radius: 10px;
    overflow: hidden;
  }

  .bx-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }

  .bx-img2 img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .dtl {
    margin-top: -118px;
    margin-left: 83px;
    height: 100%;
    text-align: left;
    padding-left: 8px;
    padding-top: 10px;
    position: relative;
  }

  .dtl h5 {
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dtl h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
  }

  .stars {
    margin-top: -54px;
  }

  .stars span {
    color: orange;
    font-size: 10px;
  }

  .dtl .rdr {
    color: grey;
    font-size: 10px;
    margin-top: -80px;
    display: none;
  }

  .dtl .date h6 {
    color: black;
    margin-top: -40px;
    font-size: 12px;
  }

  .dtl .chap {
    margin-top: -45px;
    color: black;
  }

  .dtl .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  /* Genres */
  .genre {
    height: 100px;
  }

  .gnr {
    margin-top: 12px;
  }

  #id01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #id01 li {
    display: inline-block;
    width: 19.4%;
    text-align: left;
  }

  #id01 li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }

  #id01 li a:hover {
    color: green;
  }

  /* Footer */
  .footer {
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .ftr {
    position: relative;
    height: 100%;
  }

  .cr, .bm {
    margin: auto;
  }

}

/* Tablet */
@media (min-width: 767px) {
  /*navbar*/
  .navbar .navbar-brand {
    font-weight: 700;
    margin-left: 0px;
    font-size: 26px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
  }

  .nav-item {
    height: 33px;
  }

  .navbar li a {
    font-weight: 600;
    margin-left: 1px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e0f1ff;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .chater {
    width: 35%;
    height: 100vh;
    margin-left: 0px;
  }

  .scr {
    width: 100%;
    height: 95vh;
    border-radius: 10px;
    margin-top: 5px;
    /* background-color: #f5f5f5; */
    /* border: 1px solid grey; */
  }

  .bx {
    width: 100%;
    height: 140px;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .bx:hover {
    box-shadow: none;
  }

  .bx-img {
    width: 100px;
    height: 100%;
  }

  .dt {
    position: relative;
    margin-top: -138px;
    margin-left: 100px;
    height: 100%;
  }

  .dt h5 {
    font-size: 14px;
  }

  .dt .rating {
    font-size: 12px;
    margin-top: -5px;
  }

  .dt .reader {
    font-size: 10px;
  }

  .dt .tgl h6 {
    font-size: 12px;
    margin-top: 5px;
    color: black;
    font-weight: 400;
  }

  .dt .chp{
    margin: auto;
    text-align: left;
    width: 100%;
  }

  .dt .chp span {
    border-radius: 10px;
    background-color: #45b051;
    font-size: 14px;
    font-weight: 600;
    color: white;
  }

  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }


  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 20px;
    margin: auto;
    padding: 5px;
  }

  .ct, .ut {
    margin: auto;
  }



  /* Update Terakhir */
  .upter {
    display: flex;
    position: relative;
    width: 63%;
    height: 100vh;
  }

  /* Update terakhir */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%
  }

  .content {
    height: 120px;
    width: 47%;
    font-size: 24px; /* centering text just for view */
    text-align: center;
    background-color: transparent;
    margin: 5px;
    overflow: hidden;
  }

  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }

  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .bx-img2 {
    position: relative;
    height: 100%;
    width: 90px;
    border-radius: 10px;
    overflow: hidden;
  }

  .bx-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.5s;
  }

  .bx-img2 img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .dtl {
    margin-top: -118px;
    margin-left: 90px;
    height: 100%;
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    position: relative;
  }

  .dtl h5 {
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dtl h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
  }

  .stars {
    margin-top: -54px;
  }

  .stars span {
    color: orange;
    font-size: 10px;
  }

  .dtl .rdr {
    color: grey;
    font-size: 10px;
    margin-top: -80px;
    display: none;
  }

  .dtl .date h6 {
    color: black;
    margin-top: -40px;
    font-size: 12px;
  }

  .dtl .chap {
    margin-top: -45px;
    color: black;
  }

  .dtl .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  /* Genres */
  .genre {
    padding-top: 2px;
    height: 125px;
  }

  #id01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #id01 li {
    display: inline-block;
    margin: 5px;
    width: 18%;
  }

  #id01 li a {
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }

  #id01 li a:hover {
    color: green;
  }

  /* Footer */
  .footer {
    height: 70px;
    color: white;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .cr, .bm {
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 992px) {
  /*navbar*/
  .bg {
    height: 50px;
  }

  .nav-item {
    padding-bottom: 45px;
  }

  .navbar li a {
    font-weight: 600;
  }

  .navbar .navbar-brand {
    margin-left: 50px;
    font-weight: 700;
    font-size: 26px;
  }

  .navbar form {
    margin-right: 50px
  }

  .navbar .d-flex {
    margin: auto;
    margin-right: 30px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e0f1ff;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .chater {
    width: 33%;
    height: 100vh;
    margin-left: 0px;
  }

  .scr {
    width: 100%;
    height: 93vh;
    border-radius: 10px;
    margin-top: 5px;
    /* background-color: #f5f5f5; */
    /* border: 1px solid grey; */
  }

  .bx {
    width: 100%;
    height: 150px;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .bx:hover {
    box-shadow: none;
  }

  .bx-img {
    width: 110px;
    height: 100%;
  }

  .dt {
    position: relative;
    margin-top: -148px;
    margin-left: 110px;
    height: 100%;
    padding-left: 10px;
    padding-top: 2px;
  }

  .dt h5 {
    font-size: 18px;
  }

  .dt .rating {
    font-size: 12px;
    margin-top: -5px;
  }

  .dt .reader {
    font-size: 10px;
  }

  .dt .tgl h6 {
    font-size: 12px;
    margin-top: 5px;
    color: black;
    font-weight: 400;
  }

  .dt .chp {
    margin: auto;
    position:relative;
  }

  .dt .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }


  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 20px;
    margin: auto;
    padding: 5px;
  }

  .ct, .ut {
    margin: auto;
  }



  /* Update Terakhir */
  .upter {
    display: flex;
    position: relative;
    width: 67%;
    height: 100vh;
  }

  /* Update terakhir */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%
  }

  .content {
    height: 150px;
    width: 48%;
    font-size: 24px; /* centering text just for view */
    text-align: center;
    background-color: transparent;
    margin: 5px;
    overflow: hidden;
  }

  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }

  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .bx-img2 {
    position: relative;
    height: 100%;
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
  }

  .bx-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.5s;
  }

  .bx-img2 img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .dtl {
    margin-top: -148px;
    margin-left: 110px;
    height: 100%;
    text-align: left;
    padding-left: 8px;
    padding-top: 10px;
    position: relative;
  }

  .dtl h5 {
    color: black;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    width: 97%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dtl h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
  }

  .stars {
    margin-top: -50px;
  }

  .stars span {
    color: orange;
    font-size: 14px;
  }

  .dtl .rdr {
    color: grey;
    font-size: 10px;
    margin-top: -80px;
    display: flex;
  }

  .dtl .date h6 {
    color: black;
    margin-top: -40px;
    font-size: 12px;
  }

  .dtl .chap {
    margin-top: -45px;
    color: black;
  }

  .dtl .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  /* Genres */
  .genre {
    padding-top: 1px;
    height: 125px;
  }

  #id01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #id01 li {
    display: inline-block;
    margin: 5px;
    width: 18%;
  }

  #id01 li a {
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }

  #id01 li a:hover {
    color: green;
  }

  /* Footer */
  .footer {
    height: 70px;
    color: white;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  /*navbar*/
  .bg {
    height: 50px;
  }

  .nav-item {
    padding-bottom: 45px;
  }

  .navbar li a {
    font-weight: 600;
  }

  .navbar .navbar-brand {
    margin-left: 50px;
    font-weight: 700;
    font-size: 26px;
  }

  .navbar form {
    margin-right: 50px
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e0f1ff;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .chater {
    width: 30%;
    height: 100vh;
    margin-left: 0px;
  }

  .scr {
    width: 100%;
    height: 93vh;
    border-radius: 10px;
    margin-top: 5px;
    /* background-color: #f5f5f5; */
    /* border: 1px solid grey; */
  }

  .bx {
    width: 100%;
    height: 150px;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .bx:hover {
    box-shadow: none;
  }

  .bx-img {
    width: 110px;
  }

  .dt {
    position: relative;
    margin-top: -148px;
    margin-left: 110px;
    height: 100%;
    padding-left: 10px;
  }

  .dt h5 {
    font-size: 18px;
  }

  .dt .rating {
    font-size: 12px;
    margin-top: -5px;
  }

  .dt .reader {
    font-size: 10px;
  }

  .dt .tgl h6 {
    font-size: 12px;
    margin-top: 5px;
    color: black;
    font-weight: 400;
  }

  .dt .chp {
    margin-left: auto;
    text-align: left;
  }

  .dt .chp span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }


  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 20px;
    margin: auto;
    padding: 5px;
  }

  .ct, .ut, .gnr {
    margin: auto;
  }



  /* Update Terakhir */
  .upter {
    display: flex;
    position: relative;
    width: 70%;
    height: 100vh;
  }

  /* Update terakhir */
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%
  }

  .content {
    height: 150px;
    width: 32%;
    font-size: 24px; /* centering text just for view */
    text-align: center;
    background-color: transparent;
    margin: 5px;
    overflow: hidden;
  }

  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid transparent; */
    background-color: blue;
    transition: .3s;
  }

  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .bx-img2 {
    position: relative;
    height: 100%;
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
  }

  .bx-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.5s;
  }

  .bx-img2 img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .dtl {
    margin-top: -150px;
    margin-left: 110px;
    height: 100%;
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    position: relative;
  }

  .dtl h5 {
    color: black;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    width: 97%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dtl h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
  }

  .stars {
    margin-top: -50px;
  }

  .stars span {
    color: orange;
    font-size: 14px;
  }

  .dtl .rdr {
    color: grey;
    font-size: 10px;
    margin-top: -80px;
    display: flex;
  }

  .dtl .date h6 {
    color: black;
    margin-top: -40px;
    font-size: 12px;
  }

  .dtl .chap {
    margin-top: -45px;
    color: black;
  }

  .dtl .chap span {
    background-color: #45b051;
    border-radius: 10px;
    padding-left: 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  /* Genres */
  .genre {
    padding-top: 25px;
    height: 150px;
  }

  #id01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #id01 li {
    display: inline-block;
    margin: 5px;
    width: 18%;
  }

  #id01 li a {
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }

  #id01 li a:hover {
    color: green;
  }

  /* Footer */
  .footer {
    height: 70px;
    color: white;
    padding-top: 10px;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }

}
