body {
  margin: 0px;
  padding: 0px;
  background-color: #eef8ff;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
}

.bg {
  background-color: #160691;
}

.ln {
  border: 1px solid black;
}

/* Slider */
.box {
  width: 280px;
  height: 250px;
  background-color: white;
  margin-right: 5px;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}

.box:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.box-img {
  width: 110px;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.box-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.box-img img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/*.rating span {
  color: orange;
  font-size: 14px;
}

.rating {
  margin-top: -10px;
}

 .detail {
  position: relative;
  margin-top: -148px;
  margin-left: 110px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  padding-top: 15px;
}

.detail h5 {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail h5 a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}

.detail h5 a:hover, .dtl h5 a:hover {
  color: #45b051;
}

.detail .reader {
  color: grey;
  font-size: 14px;
}

.detail .og {
  font-size: 16px;
  margin-top: 5px;
}

.detail .og span {
  font-weight: 700;
}

.item {
  padding-top: 5px;
  padding-bottom: 15px;
}

h6 {
  color: grey;
  font-weight: 100;
  font-size: 14px;
} */

.unl {
  border-bottom: 1px solid lightgrey;
  margin-top: 7px;
  margin-bottom: 7px;
  visibility: hidden;
}

/* Update terakhir */
/*.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%
}

.content {
  height: 100px;
  width: 48%;
  color: #fff;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  background-color: grey;
  margin: 5px;
  display: none;
  border: 1px solid lightgrey;
}

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
  text-decoration: none;
}

#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
} */

/* Mobile Version (Potrait) */
@media (max-width: 576px) {
  /*navbar*/
  .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999999;
  }

  .navbar .navbar-brand {
    font-weight: 700;
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
  }

  .nav-item {
    height: 29px;
    width: 150px;
  }

  .navbar li a {
    font-size: 16px;
  }

  .search-bar{
    display: none;
  }

  .search-bar-hp {
    margin-top: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-bar-hp input, .search-bar-hp button{
    font-size: 12px;
  }

  /*title section*/
  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
  }

  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 14px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Slide */
  .slide{
    margin-top: 15px;
    width: 100%;
  }

  .slider{
    height: 225px;
    margin-top: 10px;
  }

  .box{
    width: 100px;
    height: 225px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .box:hover{
    box-shadow: none;
  }

  .box-img{
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
  }

  .item{
    height: 250px;
  }

  .detail{
    margin-top: 5px;
    position: absolute;
    width: 100%;
  }

  .detail h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }

  .detail h5 a:hover{
    color: green;
  }

  .rating span {
    color: orange;
    font-size: 10px;
  }

  .rating {
    margin-top: -15px;
  }

  .detail .reader {
    color: grey;
    font-size: 10px;
    margin-top: -3px;
  }

  .detail .og {
    font-size: 10px;
    margin-top: 0px;
  }


  /* Chapter Terbaru */
  .konten {
    width: 94%;
    margin: auto;
    margin-top: 10px;
    align-content: center;
  }

  .chater {
    width: 100%;
    padding-top: 10px;
    background-color: #e0f1ff;
  }

  .konten-ut{
    display: inline-block;
    margin-top: 15px;
  }

  .scr {
    width: 100%;
    height: 330px;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx{
    float: left;
    display: block;
    margin-right: 6px;
    margin-bottom: 8px;
    width: 48%;
    height: 100px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
  }

  .bx .box-img{
    width: 140px;
    height: 100%;
  }

  .bx .box-img{
    object-fit: cover;
  }

  .bx .detail{
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
  }

  .bx .rating span {
    color: orange;
    font-size: 10px;
  }

   .bx .rating {
    margin-top: -16px;
  }

  .bx .og {
    font-size: 10px;
    margin-top: -3px;
    margin-bottom: 3px;
  }

  .chp {
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #45b051;
    width: 50px;
    text-align: center;
    color: white;
  }

  /* Update Terakhir */
  .upter {
    margin-top: 15px;
    width: 100%;
    height: 550px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .scr2{
    height: 500px;
  }

  .content{
    display: none;
    width: 48%;
    height: 100px;
    margin-right: 6px;
    margin-bottom: 8px;
  }

  .content .bx{
    width: 100%;
    height: 100%;
  }

  #loadMore {
    width: 150px;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    transition: .3s;
    text-decoration: none;
  }

  .pg {
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }

  .pg li a, .pg li span {
    font-size: 14px;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  /* Footer */
  .footer {
    margin-top: 15px;
    height: 70px;
    color: white;
    font-size: 14px;
  }

  .cr, .bm {
    width: 100%;
  }
  .cr span, .bm span {
    width: 100%;
    text-align: center;
  }
}


/* Mobile Version (Landscape) */
@media (min-width: 576.1px) {
  /*navbar*/
  .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999999;
  }

  .navbar .navbar-brand {
    font-weight: 700;
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
  }

  .nav-item {
    height: 29px;
    width: 150px;;
  }

  .navbar li a {
    font-size: 16px;
  }

  .search-bar{
    display: none;
  }

  .search-bar-hp {
    margin-top: 80px;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .search-bar-hp input, .search-bar-hp button{
    font-size: 12px;
  }

  /*title section*/
  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
  }

  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 14px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Slide */
  .slide{
    margin-top: 15px;
    width: 100%;
    height: 270px;
  }

  .slider{
    margin-top: 10px;
  }

  .box{
    width: 100px;
    height: 225px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .box:hover{
    box-shadow: none;
  }

  .box-img{
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
  }

  .item{
    height: 230px;
  }

  .detail{
    margin-top: 5px;
    position: absolute;
    width: 100%;
  }

  .detail h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }

  .detail h5 a:hover{
    color: green;
  }

  .rating span {
    color: orange;
    font-size: 10px;
  }

  .rating {
    margin-top: -15px;
  }

  .detail .reader {
    color: grey;
    font-size: 10px;
    margin-top: -3px;
  }

  .detail .og {
    font-size: 10px;
    margin-top: 0px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    align-content: center;
    padding-left: 15px;
  }

  .chater {
    width: 28%;
    padding-top: 5px;
  }

  .konten-ut{
    display: inline-block;
    margin-top: 15px;
    width: 100%;
  }

  .scr {
    width: 100%;
    height: 430px;;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx{
    float: left;
    display: block;
    margin-right: 6px;
    margin-bottom: 8px;
    width: 100%;
    height: 100px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
  }

  .bx .box-img{
    width: 140px;
    height: 100%;
  }

  .bx .box-img{
    object-fit: cover;
  }

  .bx .detail{
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
  }

  .bx .rating span {
    color: orange;
    font-size: 10px;
  }

   .bx .rating {
    margin-top: -16px;
  }

  .bx .og {
    font-size: 10px;
    margin-top: -3px;
    margin-bottom: 3px;
  }

  .chp {
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #45b051;
    width: 50px;
    text-align: center;
    color: white;
  }

  /* Update Terakhir */
  .q{
      width: 100%;
  }

  .upter {
    margin-top: 5px;
    width: 72%;
    height: 700px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .scr2{
    height: 667px;
  }

  .content{
    display: none;
    width: 33%;
    height: 95px;
    margin-right: 1px;
    margin-bottom: 8px;
  }

  .content .bx{
    width: 100%;
    height: 100%;
  }

  #loadMore {
    width: 150px;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    transition: .3s;
    text-decoration: none;
  }

  .pg {
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }

  .pg li a, .pg li span {
    font-size: 14px;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  /* Footer */
  .footer {
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .ftr {
    position: relative;
    height: 100%;
  }

  .cr, .bm {
    margin: auto;
  }

}

/* Tablet */
@media (min-width: 767px) {
  /*navbar*/
  .navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999999;
  }

  .navbar .navbar-brand {
    font-weight: 700;
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar .navbar-nav {
    margin-left: 10px;
  }

  .nav-item {
    height: 29px;
    width: 150px;;
  }

  .navbar li a {
    font-size: 16px;
  }

  .search-bar{
    display: none;
  }

  .search-bar-hp {
    margin-top: 80px;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .search-bar-hp input, .search-bar-hp button{
    font-size: 12px;
  }

  /*title section*/
  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
  }

  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 14px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Slide */
  .slide{
    margin-top: 15px;
    width: 100%;
    height: 270px;
  }

  .slider{
    margin-top: 10px;
  }

  .box{
    width: 100px;
    height: 225px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .box:hover{
    box-shadow: none;
  }

  .box-img{
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
  }

  .item{
    height: 230px;
  }

  .detail{
    margin-top: 5px;
    position: absolute;
    width: 100%;
  }

  .detail h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }

  .detail h5 a:hover{
    color: green;
  }

  .rating span {
    color: orange;
    font-size: 10px;
  }

  .rating {
    margin-top: -15px;
  }

  .detail .reader {
    color: grey;
    font-size: 10px;
    margin-top: -3px;
  }

  .detail .og {
    font-size: 10px;
    margin-top: 0px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    align-content: center;
    padding-left: 15px;
  }

  .chater {
    width: 28%;
    padding-top: 5px;
  }

  .konten-ut{
    display: inline-block;
    margin-top: 15px;
    width: 100%;
  }

  .scr {
    width: 100%;
    height: 430px;;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx{
    float: left;
    display: block;
    margin-right: 6px;
    margin-bottom: 8px;
    width: 100%;
    height: 100px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
  }

  .bx .box-img{
    width: 140px;
    height: 100%;
  }

  .bx .box-img{
    object-fit: cover;
  }

  .bx .detail{
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
  }

  .bx .rating span {
    color: orange;
    font-size: 10px;
  }

   .bx .rating {
    margin-top: -16px;
  }

  .bx .og {
    font-size: 10px;
    margin-top: -3px;
    margin-bottom: 3px;
  }

  .chp {
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #45b051;
    width: 50px;
    text-align: center;
    color: white;
  }

  /* Update Terakhir */
  .q{
      width: 100%;
  }

  .upter {
    margin-top: 5px;
    width: 72%;
    height: 700px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .scr2{
    height: 667px;
  }

  .content{
    display: none;
    width: 33%;
    height: 95px;
    margin-right: 1px;
    margin-bottom: 8px;
  }

  .content .bx{
    width: 100%;
    height: 100%;
  }

  #loadMore {
    width: 150px;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    transition: .3s;
    text-decoration: none;
  }

  .pg {
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }

  .pg li a, .pg li span {
    font-size: 14px;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  /* Footer */
  .footer {
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .ftr {
    position: relative;
    height: 100%;
  }

  .cr, .bm {
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 992px) {
  /*navbar*/
  .bg {
    height: 50px;
  }

  .nav-item {
    padding-bottom: 40px;
    width: auto;
  }

  .navbar li a {
    font-weight: bold;
    font-size: 18px;
  }

  .navbar .navbar-brand {
    margin-left: 50px;
    font-weight: 700;
    font-size: 26px;
  }

  .navbar form {
    margin-right: 50px
  }

  .search-bar{
    display: block;
  }

  .search-bar-hp {
    display: none;
  }

  /*title section*/
  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
  }

  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 16px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Slide */
  .slide{
    margin-top: 70px;
    width: 100%;
    height: 270px;
  }

  .slider{
    margin-top: 10px;
  }

  .box{
    width: 100px;
    height: 225px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: 5px;
  }

  .box:hover{
    box-shadow: none;
  }

  .box-img{
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
  }

  .item{
    height: 230px;
  }

  .detail{
    margin-top: 5px;
    position: absolute;
    width: 100%;
  }

  .detail h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }

  .detail h5 a:hover{
    color: green;
  }

  .rating span {
    color: orange;
    font-size: 11px;
  }

  .rating {
    margin-top: -15px;
  }

  .detail .reader {
    color: grey;
    font-size: 10px;
    margin-top: -3px;
  }

  .detail .og {
    font-size: 11px;
    margin-top: 0px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70vh;
  }

  .chater {
    width: 28%;
    padding-top: 5px;
  }

  .konten-ut{
    display: inline-block;
    margin-top: 15px;
    width: 100%;
  }

  .scr {
    width: 100%;
    height: 430px;;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx{
    float: left;
    display: block;
    margin-right: 6px;
    margin-bottom: 10px;
    width: 100%;
    height: 115px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
  }

  .bx .box-img{
    width: 140px;
    height: 100%;
  }

  .bx .box-img{
    object-fit: cover;
  }

  .bx .detail{
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
  }

  .bx .rating span {
    color: orange;
    font-size: 11px;
  }

   .bx .rating {
    margin-top: -16px;
  }

  .bx .og {
    font-size: 11px;
    margin-top: -3px;
    margin-bottom: 3px;
  }

  .chp {
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #45b051;
    width: 50px;
    text-align: center;
    color: white;
  }

  /* Update Terakhir */
  .q{
      width: 100%;
      height: 1000px;
  }

  .upter {
    margin-top: 5px;
    width: 72%;
    height: 1000px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .scr2{
    height: 950px;
  }

  .content{
    display: none;
    width: 31%;
    height: 110px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .content .bx{
    width: 100%;
    height: 100%;
  }

  #loadMore {
    width: 150px;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    transition: .3s;
    text-decoration: none;
  }

  .pg {
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }

  .pg li a, .pg li span {
    font-size: 14px;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  /* Footer */
  .footer {
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .ftr {
    position: relative;
    height: 100%;
  }

  .cr, .bm {
    margin: auto;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  /*navbar*/
  .bg {
    height: 50px;
  }

  .nav-item {
    padding-bottom: 40px;
    width: auto;
  }

  .navbar li a {
    font-weight: bold;
    font-size: 18px;
  }

  .navbar .navbar-brand {
    margin-left: 50px;
    font-weight: 700;
    font-size: 26px;
  }

  .navbar form {
    margin-right: 50px
  }

  .search-bar{
    display: block;
  }

  .search-bar-hp {
    display: none;
  }

  /*title section*/
  .tpr, .ct, .ut, .gnr {
    color: black;
    background-color: transparent;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
  }

  .tpr h3, .ct h3, .ut h3, .gnr h3 {
    font-size: 16px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
  }

  .ct, .ut {
    margin: auto;
  }

  /* Slide */
  .slide{
    margin-top: 70px;
    width: 100%;
    height: 270px;
  }

  .slider{
    margin-top: 10px;
  }

  .box{
    width: 100px;
    height: 225px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: 5px;
  }

  .box:hover{
    box-shadow: none;
  }

  .box-img{
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
  }

  .item{
    height: 230px;
  }

  .detail{
    margin-top: 5px;
    position: absolute;
    width: 100%;
  }

  .detail h5 a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }

  .detail h5 a:hover{
    color: green;
  }

  .rating span {
    color: orange;
    font-size: 11px;
  }

  .rating {
    margin-top: -15px;
  }

  .detail .reader {
    color: grey;
    font-size: 10px;
    margin-top: -3px;
  }

  .detail .og {
    font-size: 11px;
    margin-top: 0px;
  }

  /* Chapter Terbaru */
  .konten {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 80vh;
  }

  .chater {
    width: 20%;
    padding-top: 5px;
  }

  .konten-ut{
    display: inline-block;
    margin-top: 15px;
    width: 100%;
  }

  .scr {
    width: 100%;
    height: 430px;;
    /* background-color: #f5f5f5; */
    margin-top: 5px;
  }

  .bx{
    float: left;
    display: block;
    margin-right: 6px;
    margin-bottom: 10px;
    width: 100%;
    height: 115px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
  }

  .bx .box-img{
    width: 140px;
    height: 100%;
  }

  .bx .box-img{
    object-fit: cover;
  }

  .bx .detail{
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
  }

  .bx .rating span {
    color: orange;
    font-size: 11px;
  }

   .bx .rating {
    margin-top: -16px;
  }

  .bx .og {
    font-size: 11px;
    margin-top: -3px;
    margin-bottom: 3px;
  }

  .chp {
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #45b051;
    width: 50px;
    text-align: center;
    color: white;
  }

  /* Update Terakhir */
  .q{
      width: 100%;
      height: 820px;
  }

  .upter {
    margin-top: 5px;
    width: 80%;
    height: 800px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .scr2{
    height: 760px;
  }

  .content{
    display: none;
    width: 19%;
    height: 110px;
    margin-right: 9px;
    margin-bottom: 10px;
  }

  .content .bx{
    width: 100%;
    height: 100%;
  }

  #loadMore {
    width: 150px;
    color: #fff;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    transition: .3s;
    text-decoration: none;
  }

  .pg {
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }

  .pg li a, .pg li span {
    font-size: 14px;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  /* Footer */
  .footer {
    height: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .ftr {
    position: relative;
    height: 100%;
  }

  .cr, .bm {
    margin: auto;
  }
}
