.ln{
  border: 1px solid black;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-y: auto;
    /*padding-top: 65px; /* padding for fixed navbar */
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* Header */
  header .mg{
    position: absolute;
  }

  header img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  /*.mg{
    border-bottom: 1px solid grey;
    width: 90%;
  }*/

  header h1{
    font-size: 20px;
    border-bottom: 1px solid #b025fa;
    border-top: 1px solid #b025fa;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .ad{
    margin-top: 100px;
  }

  .adr{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .adr h1{
    font-size: 150%;
  }

  .adr p{
    font-size: 10%;
    margin-bottom: 0px;
  }

  /* Navbar */
  .navbar{
    background-color: #a300c7;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.8;
  }

  .navbar img{
    width: 180px;
  }

  .navbar-nav .nav-link{
    /*border: 1px solid black;*/
    color: white !important;
    font-size: 20px !important;
    margin-left: 20px;
  }

  .navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
  }

  /* paket umroh */
  .umr img{
    width: 100%;
  }

  .umr{
    /*border: 1px solid grey;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 500px;
    color: #b025fa;
  }

  .umr h4{
    font-size: 22px;
    margin-top: 5px;
  }

  .umr p{
    color: black;
    margin-bottom: 5px;
  }

  .umr span{
    color: gold;
    content: "\2708";
  }

  .umr h4, p{
    padding-left: 10px;
  }

  .umr1{
    position: absolute;
  }

  .umr2{
    margin-top: 580px;
  }

  .umr1, .umr2, .umr{
    height: 540px;
  }
  /* hidden spacer before sections for proper offset
  main h3::before {
      height: 90px;
      content: "";
      display:block;
  }*/

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* Header */
  header img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  header h1{
    font-size: 31px;
    border-bottom: 3px solid #b025fa;
  }

  .adr{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  header p{
    margin-top: -5px;
    font-size: 11px;
    margin-bottom: 5px;
  }

  /*Navbar*/
  .navbar{
    background-color: #a300c7;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.85;
  }

  .navbar img{
    width: 150px;
  }

  .navbar-nav .nav-link{
    /*border: 1px solid black;*/
    color: white !important;
    font-size: 20px !important;
    margin-left: 10px;
  }

  .navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
  }


  /* Slide */
  .carousel{
    height: 500px;
  }

  .carousel-inner{
    height: 500px;
  }

  .carousel-item img{
    width: 100%;
    height: 500px;
  }

/* umr */
.container .col-4{
  height: 500px;
  /*border: 1px solid grey;*/
  margin-left: 25px;
  margin-right: 25px;
}

  .umr{
    /*border: 1px solid grey;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 500px;
    color: #b025fa;
  }

  .umr:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .container .rw{
    margin-top: 30px;
  }

  .umr img{
    width: 100%;
    height: 170px;
  }

  .umr h4{
    font-size: 22px;
    margin-top: 5px;
  }

  .umr p{
    color: black;
    margin-bottom: 5px;
  }

  .umr span{
    color: gold;
    content: "\2708";
  }

  .umr h4, p{
    padding-left: 10px;
  }

  /* hidden spacer before sections for proper offset*/
  main h3:before {
      height: 65px;
      content: "";
      display:block;
  }
}
